<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>分时</string>
		<key>type</key>
		<string>0</string>
		<key>childData</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>分时</string>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>1分</string>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>5分</string>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>15分</string>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>30分</string>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>1小时</string>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>4小时</string>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>1天</string>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>1周</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>主指标</string>
		<key>type</key>
		<string>0</string>
		<key>childData</key>
		<array>
			<dict>
				<key>index</key>
				<string>0</string>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>MA</string>
			</dict>
			<dict>
				<key>index</key>
				<string>1</string>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>BOLL</string>
			</dict>
			<dict>
				<key>index</key>
				<string>2</string>
				<key>type</key>
				<string>0</string>
				<key>title</key>
				<string>关闭</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>指标</string>
		<key>type</key>
		<string>0</string>
		<key>childData</key>
		<array>
			<dict>
				<key>idnex</key>
				<string>0</string>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>MACD</string>
			</dict>
			<dict>
				<key>idnex</key>
				<string>1</string>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>KDJ</string>
			</dict>
			<dict>
				<key>idnex</key>
				<string>2</string>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>OBV</string>
			</dict>
			<dict>
				<key>idnex</key>
				<string>3</string>
				<key>type</key>
				<string>1</string>
				<key>title</key>
				<string>WR</string>
			</dict>
			<dict>
				<key>index</key>
				<string>4</string>
				<key>type</key>
				<string>0</string>
				<key>title</key>
				<string>关闭</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
